/* Universal Styling*/
html,
body {
  font-family: Helvetica sans-serif;
  font-size: 18px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
/* Header section*/

header,
.textbox,
nav,
a {
  background-color: black;
  font-size: 1rem;
  color: white;
}

.container.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding: 0 0.5rem
}

.logo span {
  padding: 0.66rem 0.5rem;
}

/* Main-banner section*/

.main-banner {
background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg" /*alt="man on bike"*/);
background-size: cover;
height: 25rem;
}

.textbox {
  width: 20rem;
  font-weight: bold;
  position: relative;
  top: 9rem;
  padding: 2rem 3rem;
}

.textbox h1 {
  font-size: 2rem;
  padding: 0.25rem 0;
}

/*Navigation section*/

nav {
  padding: 0.75rem;
  background-color: firebrick;
}

nav ul{
  display: flex;
  justify-content: space-between;
}

nav a{
  text-decoration: none;
}

/* Product Grid */

.product-grid {
  display: flex;
  flex-direction: row;
}
